# Assignment \# 02

- **Name:** Aheed Uddin Basri
- **Reg No:** cs182010

# Bank Customer Churning Using Deep Learning
Dataset Link: https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

Churn = customers lost over a period of time
For detailed data exploring, check this article: https://towardsdatascience.com/churn-prediction-with-machine-learning-ca955d52bd8c

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [4]:
df = pd.read_csv("/Churn_Modelling.csv")
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7507,7508,15642001,Lorenzen,576,Germany,Male,44,9,119530.52,1,1,0,119056.68,1
1718,1719,15762745,Macvitie,648,Spain,Male,32,8,0.00,1,1,0,133653.38,0
9064,9065,15632816,Williams,521,Germany,Female,49,2,127948.57,1,1,1,182765.14,0
8816,8817,15800806,Pai,685,Spain,Male,31,7,122449.31,2,1,1,180769.55,0
9258,9259,15652674,Hou,539,France,Male,20,0,83459.86,1,1,1,146752.67,0

In [7]:
df.drop('RowNumber',axis='columns',inplace=True)
df.drop('CustomerId',axis='columns',inplace=True)
df.drop('Surname',axis='columns',inplace=True)

In [8]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [9]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [10]:
# Creating a function to iterate through columns that consist of logical values:
def print_unique_col_values(df):
  for column in df:
    if df[column].dtypes=='object':
      print(f'{column}: {df[column].unique()}')

In [12]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [14]:
df['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [15]:
for col in df:
  print(f'{col}: {df[col].unique()}')

CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography: ['France' 'Spain' 'Germany']
Gender: [1 0]
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]

In [16]:
#One hot encoding other columns
df1 = pd.get_dummies(data=df, columns=['Geography'])
df1.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [17]:
df1.dtypes

CreditScore            int64
Gender                 int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

In [18]:
#In Deep Learning, it is imp to scale the data to ensure that it is between some range
df1.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
6995,633,1,32,1,104001.38,1,0,1,36642.65,0,1,0,0
5661,472,1,26,5,0.00,2,1,0,108411.66,0,1,0,0
6676,619,0,52,8,0.00,2,1,1,123242.11,0,0,0,1
7337,676,1,34,8,82909.14,1,1,0,91817.38,1,1,0,0
1422,696,0,41,9,127523.75,1,0,1,191417.42,0,0,0,1

In [23]:
cols_to_scale = ['CreditScore','Balance','EstimatedSalary', 'Age', 'Tenure', 'NumOfProducts']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])

In [24]:
df1.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
6575,0.888,1,0.500000,0.6,0.461529,0.000000,1,0,0.802651,1,0,1,0
315,0.248,0,0.256757,0.3,0.000000,0.333333,0,0,0.285846,0,0,0,1
1129,0.638,1,0.229730,0.7,0.000000,0.000000,1,1,0.245507,1,1,0,0
686,0.730,1,0.175676,0.2,0.447242,0.333333,1,1,0.908032,0,1,0,0
1316,1.000,1,0.175676,0.4,0.000000,0.333333,1,1,0.165372,0,1,0,0

In [25]:
#train test split for our ANN
X = df1.drop('Exited',axis='columns')
y = df1['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [26]:
X_train.shape

(8000, 12)

In [27]:
X_test.shape

(2000, 12)

In [28]:
X_train[:10]

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
7751,0.800,1,0.283784,0.6,0.000000,0.333333,0,0,0.096273,0,0,1
4154,0.752,0,0.216216,0.3,0.000000,0.333333,1,0,0.981478,1,0,0
3881,0.476,1,0.621622,0.3,0.000000,0.000000,1,1,0.948551,1,0,0
9238,0.846,1,0.432432,0.4,0.000000,0.333333,1,0,0.646869,1,0,0
5210,0.402,0,0.229730,0.7,0.517012,0.333333,0,0,0.434670,1,0,0
7487,0.602,1,0.513514,0.4,0.000000,0.000000,0,0,0.421898,1,0,0
7542,0.314,1,0.216216,0.4,0.000000,0.333333,1,1,0.303413,0,0,1
7524,0.620,1,0.297297,0.8,0.666330,0.000000,1,1,0.925815,1,0,0
9412,0.750,0,0.108108,0.6,0.393324,0.000000,0,0,0.668609,1,0,0
6377,0.684,0,0.202703,0.9,0.000000,0.000000,1,0,0.567526,1,0,0

In [29]:
len(X_train.columns)

12

In [32]:
import tensorflow as tf
from tensorflow import keras


#model = keras.Sequential([
   # keras.layers.Dense(26, input_shape=(26,)), #input layer
  #  keras.layers.Dense(15, activation='relu'), #hidden layer
 #   keras.layers.Dense(1, activation='sigmoid') #ouput layer
#])

#or this will also work
model = keras.Sequential([
    keras.layers.Dense(12, input_shape=(12,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid') #ouput layer
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5461 - accuracy: 0.7530
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4833 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4700 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4613 - accuracy: 0.7979
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4545 - accuracy: 0.8011
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4485 - accuracy: 0.8046
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4426 - accuracy: 0.8094
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4375 - accuracy: 0.8117
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4327 - accuracy: 0.8149
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4292 - accuracy: 0.8159
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4256 - accuracy: 0.8170
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.8183
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4199 - accuracy: 0.8189
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.8207
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4145 - accuracy: 0.8214
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4123 - accuracy: 0.8231
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4100 - accuracy: 0.8239
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4076 - accuracy: 0.8236
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4051 - accuracy: 0.8263
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8267
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3997 - accuracy: 0.8279
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8296
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3947 - accuracy: 0.8305
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3929 - accuracy: 0.8320
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3907 - accuracy: 0.8326
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3885 - accuracy: 0.8341
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3865 - accuracy: 0.8356
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3846 - accuracy: 0.8353
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3831 - accuracy: 0.8385
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3803 - accuracy: 0.8380
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3788 - accuracy: 0.8401
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3774 - accuracy: 0.8410
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3752 - accuracy: 0.8409
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3739 - accuracy: 0.8410
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3727 - accuracy: 0.8425
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3712 - accuracy: 0.8422
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3696 - accuracy: 0.8435
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3676 - accuracy: 0.8445
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3667 - accuracy: 0.8444
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3654 - accuracy: 0.8443
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3637 - accuracy: 0.8469
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3627 - accuracy: 0.8475
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3615 - accuracy: 0.8480
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8484
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3591 - accuracy: 0.8493
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3581 - accuracy: 0.8494
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3569 - accuracy: 0.8504
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3562 - accuracy: 0.8511
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3548 - accuracy: 0.8515
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3535 - accuracy: 0.8518
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3532 - accuracy: 0.8524
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3525 - accuracy: 0.8528
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3515 - accuracy: 0.8541
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3513 - accuracy: 0.8568
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3507 - accuracy: 0.8536
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3498 - accuracy: 0.8550
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3495 - accuracy: 0.8553
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3486 - accuracy: 0.8568
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3481 - accuracy: 0.8550
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3480 - accuracy: 0.8533
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3472 - accuracy: 0.8572
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8571
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8556
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3459 - accuracy: 0.8576
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3457 - accuracy: 0.8569
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8570
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3447 - accuracy: 0.8575
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3447 - accuracy: 0.8583
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3442 - accuracy: 0.8593
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3433 - accuracy: 0.8595
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8593
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8585
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8587
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8587
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8580
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8593
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3417 - accuracy: 0.8586
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8604
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8591
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8601
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8591
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8609
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8600
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8610
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8622
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8599
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8601
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8604
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8604
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8621
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8619
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8631
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8630
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8615
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8621
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8614
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8604
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8616
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8614
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8615

In [33]:
yp = model.predict(X_test)

In [34]:
#Checking the first few values of prediction
yp[:5]

array([[0.03040581],
       [0.10940012],
       [0.08734926],
       [0.07011714],
       [0.12781405]], dtype=float32)

In [35]:
#Convert probabilistic values to 0,1
y_pred = []
for element in yp:
  if element > 0.5:
    y_pred.append(1)
  else:
    y_pred.append(0)

In [36]:
y_pred[:5]

[0, 0, 0, 0, 0]

In [38]:
y_test[:5]

7054    0
442     0
3954    0
2288    0
3196    0
Name: Exited, dtype: int64

In [37]:
#Evaluating the prediction
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      1595
           1       0.71      0.47      0.56       405

    accuracy                           0.85      2000
   macro avg       0.79      0.71      0.74      2000
weighted avg       0.84      0.85      0.84      2000